@model IEnumerable<Package>


<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">@Localizer["Packages"]</h6>
            <h1>@Localizer["Perfect Tour Packages"]</h1>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <a asp-action="Booking" asp-controller="Home">
                            <img class="img-fluid" src=../@Url.Content(item.CountryImg) width="400" alt="">
                        </a>
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>@Localizer[item.CountryName]</small>
                                <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>@Localizer[item.Duration.ToString()] DAYS</small>
                                <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>@Localizer[item.Person.ToString()]</small>
                            </div>
                            <a class="h5 text-decoration-none">@Localizer[item.CountryDesc]</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>@Localizer[item.HotelStars.ToString()]<small>(250)</small></h6>
                                    <h5 class="m-0">@Localizer["$"]@Localizer[item.Prize.ToString()]</h5><h5 class="m-0">@Localizer[item.BrandName] </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- Packages End -->