@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using System.Globalization
@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;


@inject SignInManager<ApplicationUser> signInManager
@inject IHttpContextAccessor httpContextAccessor
<!DOCTYPE html>
<html dir="@Localizer["dir"]">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <title>TRAVELER - @ViewBag.Title</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/mail/jqBootstrapValidation.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" media="all">

    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
    {
        <link href="~/css/RTLStyle.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/style.css" rel="stylesheet" />
    }

</head>

<body>
    <div class="container-fluid bg-light pt-2 d-none d-lg-block" dir="ltr">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center" style="font-size: small;">
                        <p><i class="fa fa-envelope mr-2"></i>aamaged@gmail.com</p>
                        <p class="text-body px-3">|</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+962 778484056</p>
                    </div>
                </div>
                <div class="col-md-6  ">
                    <div class="d-inline-flex align-items-center" style="float: inline-end;">
                        <a class="text-primary px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-primary px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-primary px-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-primary pl-2" href="">
                            <i class="fab fa-youtube"></i>

                        </a>
                        <i class="text-primary  align-self-lg-end">
                            <partial name="_SelectLanguagePartial" />
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand float-left">
                    <h1 class="m-0 text-primary">
                        <span class="text-dark">
                            TRAVEL<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#27374D" class="bi bi-airplane" viewBox="0 0 16 16">
                                <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z" />
                            </svg>
                        </span>ER
                    </h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav m-auto py-0">
                        <ul class="nav navbar-nav">
                            <li>
                                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active" style="font-size:larger;">
                                    @Localizer["Home"]
                                </a>
                            </li>
                            <li>
                                <a asp-action="Service" asp-controller="Home" class="nav-item nav-link" style="font-size:larger;">
                                    @Localizer["Services"]
                                </a>
                            </li>
                            <li>
                                <a asp-action="TourPackage" asp-controller="Home" class="nav-item nav-link" style="font-size:larger;">
                                    @Localizer["Tour Packages"]
                                </a>

                            </li>
                            <li>
                                <a asp-action="Contact" asp-controller="Home" class="nav-item nav-link" style="font-size:larger;">
                                    @Localizer["Contact"]
                                </a>
                            </li>
                            <li>
                                @if (signInManager.IsSignedIn(User))
                                {
                                    if (User.IsInRole("Administrator"))
                                    {
                                        <div class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="font-size:larger;">
                                                @User.Identity.Name
                                            </a>
                                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                                <a asp-action="Destination" asp-controller="Home" class="dropdown-item" style="font-size:larger;">@Localizer["Destination"]</a>
                                                <a asp-action="Client" asp-controller="Home" class="dropdown-item" style="font-size:larger;">@Localizer["Clients"]</a>
                                                <a asp-action="Index" asp-controller="Dashboard" asp-area="Administrator" class="dropdown-item" style="font-size:larger;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                                    </svg>
                                                    @Localizer["Dashboard"]
                                                </a>
                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                                    </svg>
                                                    @Localizer["Logout"]
                                                </a>

                                            </div>
                                        </div>
                                    }
                                    else if (User.IsInRole("AirCompany"))
                                    {
                                        <div class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="font-size:larger;">
                                                @User.Identity.Name
                                            </a>
                                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                                <a asp-action="TourPackage" asp-controller="Home" class="dropdown-item" style="font-size:larger;">@Localizer["Destination"]</a>
                                                <a asp-action="Client" asp-controller="Home" class="dropdown-item" style="font-size:larger;">@Localizer["Clients"]</a>
                                                <a asp-action="Index" asp-controller="AirCompany" asp-area="AirCompany" class="dropdown-item" style="font-size:larger;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                                    </svg>
                                                    @Localizer["Dashboard"]
                                                </a>
                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item" style="font-size:larger;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                                    </svg>
                                                    @Localizer["Logout"]
                                                </a>

                                            </div>
                                        </div>
                                    }
                                    else if (User.IsInRole("Customer"))
                                    {
                                        <div class="nav-item dropdown">

                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="font-size:larger;">
                                                <strong>@User.Identity.Name</strong>
                                            </a>
                                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                                <a asp-action="TourPackage" asp-controller="Home" class="dropdown-item" style="font-size:larger;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
                                                        <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z" />
                                                    </svg> @Localizer["Destination"]</a>
                                                <a asp-action="UserTicket" asp-controller="Customer" asp-area="Customer" class="dropdown-item" style="font-size:larger;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-fill" viewBox="0 0 16 16">
                                                        <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13Z" />
                                                    </svg> @Localizer["My Ticket"]
                                                </a>
                                                <a asp-action="UserPackage" asp-controller="Customer" asp-area="Customer" class="dropdown-item" style="font-size:larger;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                                                        <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z" />
                                                    </svg> @Localizer["My Package"]
                                                </a>
                                                <a asp-action="Index" asp-controller="Customer" asp-area="Customer" class="dropdown-item" style="font-size:larger;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                                    </svg>
                                                    @Localizer["Dashboard"]
                                                </a>
                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item" style="font-size:larger;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                                    </svg>
                                                    @Localizer["Logout"]
                                                </a>
                                            </div>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="font-size:larger;">
                                            @Localizer["Pages"]
                                        </a>
                                        <div class="dropdown-menu border-0 rounded-0 m-0">
                                            <a asp-action="TourPackage" asp-controller="Home" class="dropdown-item" style="font-size:larger;">@Localizer["Destination"]</a>
                                            <a asp-action="Login" asp-controller="Account" class="dropdown-item" style="font-size:larger;">
                                                @Localizer["Login"] / @Localizer["Register"]
                                            </a>
                                        </div>
                                    </div>
                                }
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="footer container-fluid bg-dark text-white-50">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">TRAVEL</span>ER</h1>
                </a>
                <p>@Localizer["Best available: Suggesting that the tickets offered are of the highest quality or most favorable"]</p>
                <p>@Localizer["Flexible: Signifying the availability of various options and choices"]</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">@Localizer["Follow Us"]</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">@Localizer["Our Services"]</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" asp-action="AboutUs" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>@Localizer["About"]</a>
                    <a class="text-white-50 mb-2" asp-action="Destination" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>@Localizer["Destination"]</a>
                    <a class="text-white-50 mb-2" asp-action="Service" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>@Localizer["Services"]</a>
                    <a class="text-white-50 mb-2" asp-action="Package" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>@Localizer["Packages"]</a>
                    <a class="text-white-50 mb-2" asp-action="Contact" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>@Localizer["Contact"]</a>
                    <a class="text-white-50 mb-2" asp-action="Login" asp-controller="Account"><i class="fa fa-angle-right mr-2"></i>@Localizer["Login"] / @Localizer["Register"]</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">@Localizer["USEFULL LINKS"]</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" asp-action="AboutUs" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>@Localizer["About"]</a>
                    <a class="text-white-50 mb-2" asp-action="Destination" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>@Localizer["Destination"]</a>
                    <a class="text-white-50 mb-2"  asp-action="Service" asp-controller="Home"><i class="fa fa-angle-right mr-2"></i>@Localizer["Services"]</a>
                    <a class="text-white-50 mb-2" asp-action="Package" asp-controller="Home"> <i class="fa fa-angle-right mr-2"></i>@Localizer["Packages"]</a>
                    <a class="text-white-50 mb-2" asp-action="Contact" asp-controller="Home"> <i class="fa fa-angle-right mr-2"></i>@Localizer["Contact"]</a>
                    <a class="text-white-50 mb-2" asp-action="Login" asp-controller="Account"> <i class="fa fa-angle-right mr-2"></i>@Localizer["Login"] / @Localizer["Register"]</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">
                    @Localizer["CONTACT US"]
                </h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, Amman, JORDAN</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+962 778484056</p>
                <p><i class="fa fa-envelope mr-2"></i>aamaged@gmail.com</p>
            </div>
        </div>
    </div>




    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/js/main.js"></script>

</body>

</html>
