@model IEnumerable<DemoTraveler.Models.UserPackage>
@{
    ViewData["Title"] = "UserPackage";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container-fluid py-5" style="min-height:900px" dir="ltr">
    <div class="container pt-5">
        @if (Model.Any())
        {
            <h1>My Package</h1>
            <hr />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            User Name
                        </th>
                        <th>
                            Booking Package
                        </th>
                        <th>
                            The Package
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                            </td>
                            <td>
                                @Localizer["Passenger Name"] : @Html.DisplayFor(modelItem => item.BookingPackage.FirstName)
                                @Html.DisplayFor(modelItem => item.BookingPackage.LastName)
                                <br />
                                @Localizer["National Number"] : @Html.DisplayFor(modelItem => item.BookingPackage.NationalNumber)
                                <br />
                                @Localizer["Passport Number"] @Html.DisplayFor(modelItem => item.BookingPackage.PassportNumber)
                                <br />
                                @Localizer["PhoneNumber"] @Html.DisplayFor(modelItem => item.BookingPackage.PhoneNumber)
                                <br />
                                @Localizer["Address"] @Html.DisplayFor(modelItem => item.BookingPackage.Address)
                                <br />
                                @Localizer["ZipCode"] @Html.DisplayFor(modelItem => item.BookingPackage.ZipCode)
                                <br />
                                @Localizer["Payment status"]
                                @if (item.BookingPackage.Status == true)
                                {
                                    <h3 class="text-primary">Payment is Done</h3>
                                }
                                else
                                {
                                    <h3 class="text-danger">Payment is Not Done</h3>
                                    <a asp-action="PaymentPackage" asp-controller="Home" asp-route-Id=@item.BookingPackageId asp-area="" class="btn btn-success">@Localizer["Payment"]</a>
                                }
                                <br />
                                <br />
                            </td>
                            <td>
                                @Localizer["Company Name"] :  @Html.DisplayFor(modelItem => item.Package.BrandName)
                                <br />
                                @Localizer["Destination Name"] : @Html.DisplayFor(modelItem => item.Package.CountryName)
                                <br />
                                @Localizer["Duration"] : @Html.DisplayFor(modelItem => item.Package.Duration) Days
                                <br />
                                @Localizer["Persons"] : @Html.DisplayFor(modelItem => item.Package.Person)
                                <br />
                                @Localizer["Description"] :  @Html.DisplayFor(modelItem => item.Package.CountryDesc)
                                <br />
                                @Localizer["Price"] :   $ @Html.DisplayFor(modelItem => item.Package.Price)
                                <br />
                                @Localizer["Hotel stars"] : @Html.DisplayFor(modelItem => item.Package.HotelStars)
                                <br />
                                @Localizer["Depart Date"] :  @Html.DisplayFor(modelItem => item.Package.DepartDate)
                                <br />
                                @Localizer["Return Date"] : @Html.DisplayFor(modelItem => item.Package.ReturnDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1>My Package</h1>
            <br />
            <br />

            <p> No Package Available </p>
            <label class="form-group">Click Book Now for Booking Package</label>
            <br />
            <a asp-action="Destination" asp-controller="Home" asp-area="" class="btn btn-primary">Book Now</a>
        }


    </div>
</div>