@model DemoTraveler.Models.Ticket

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/AirCompany/Views/Shared/_AirCompanyLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlyBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlyBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromAirport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToAirport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArriveTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArriveTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Travel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Travel.TravelImg)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketType.TypeTicket)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightType.TypeFlight)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TicketId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
