@model ApplicationUser
@{
    ViewData["Title"] = "UserDelete";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h1>UserDelete</h1>

<p>Id: @Model.Id</p>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Email: @Model.Email</p>
<p>Phone Number: @Model.PhoneNumber</p>

<b>Are you sure you want to delete User ?</b>
<form asp-action="UserDelete" asp-controller="User" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="UserList" asp-controller="User"
       class="btn btn-primary">Back To List</a>
</form>

