@model IEnumerable<DemoTraveler.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlyBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArriveTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Travel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img width="120px" src="..\@Url.Content(item.FlyBrand)" alt="package-place">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArriveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Travel.TravelName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
