@model ApplicationUserViewModel
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}



<div class="row" style="direction:@Localizer["dir"]">


    <h2>@Localizer["My Informatins"]</h2>
    <br />

    <table class="table table-hover">
        <tr>
            <td>@Localizer["First Name"]:</td>
            <td><b>@Model.FirstName</b></td>
        </tr>
        <tr>
            <td>@Localizer["Last Name"]:</td>
            <td><b>@Model.LastName</b></td>
        </tr>
        <tr>
            <td>@Localizer["Country Name"]:</td>
            <td><b>@Model.CountryName</b></td>
        </tr>
        <tr>
            <td>@Localizer["Email"]:</td>
            <td><b>@Model.Email</b></td>
        </tr>
        <tr>
            <td>@Localizer["Phone Number"]:</td>
            <td><b>@Model.PhoneNumber</b></td>
        </tr>
    </table>

</div>