@model IEnumerable<DemoTraveler.Models.AboutUs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutUsDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutImg1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutImg2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutImg3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutUsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutImg1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutImg2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutImg3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutUsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AboutUsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AboutUsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
