@model DemoTraveler.Models.Travel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/AirCompany/Views/Shared/_AirCompanyLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Travel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TravelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
