@model IEnumerable<DemoTraveler.Models.Travel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AirCompany/Views/Shared/_AirCompanyLayout.cshtml";
}

<h1>Index</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TravelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelName)
                </td>
                <td>
                    <img width="120px" src="..\@Url.Content(item.TravelImg)" alt="package-place">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TravelId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TravelId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TravelId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

