@model IEnumerable<Ticket>

@{
    ViewData["Title"] = "Ticket";
}

<style>
    .ticket {
        margin: 1% auto 8%;
        position: relative;
    }
    body {
        background-image: url("../img/Ticket.jpg");
        background-position: center;
        background-size: cover;
    }
</style>
<link href="~/css/CardStyle.css" rel="stylesheet" />
<link href="~/css/TicketStyle.css" rel="stylesheet" />

<div class="container-fluid py-5" dir="ltr">
    <div class="container pt-5">
        <div class="ticket">
            @foreach (var item in Model)
            {
                <div class="section">
                    <div class="tpd-plan">
                        <div class="tp-flight-plan">
                            <div class="container-fluid">
                                <div class="crop depart">
                                    <div class="context collapsed" data-toggle="collapse" data-target='#Ticket_@item.TicketId.ToString()'>
                                        <a role="button" tabindex="0" class="tog-cal itin-det-btn">
                                            <i class="fa fa-chevron-up"></i>
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                        <div class="item it-1">
                                            <label class="trip-type depart">@Localizer["Departure"]</label>
                                            <div class="airline-image">
                                                <div class="df-text">@item.DepartDate</div>
                                                <span class="img-wrapper">
                                                    <svg class="anime-airplane">
                                                        <use xlink:href="#airplane"></use>
                                                    </svg>
                                                    <span class="top-label">@item.FlightType<span class="top-label"></span></span>
                                                </span>
                                            </div>

                                            <div class="port-seg">
                                                <div class="flight-seg origin">
                                                    <div class="time">@item.DepartTime</div>
                                                    <div class="port">@Localizer["From"]</div>
                                                    <div class="name">@Localizer[item.FromCountry]</div>
                                                </div>
                                                <div class="flight-seg destination">
                                                    <div class="time">@item.ArriveTime</div>
                                                    <div class="port">@Localizer["To"]</div>
                                                    <div class="name">@Localizer[item.ToCountry]</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item it-2">
                                            <div class="dr-row">
                                                <span class="al-name"></span>
                                                <img class="airline-logo" src=~/@Url.Content(item.FlyBrand) width="120" />
                                            </div>
                                            <div class="take-tim"></div>
                                        </div>
                                    </div>
                                    <div id='Ticket_@item.TicketId.ToString()' class="fly-wrap collapse">
                                        <div class="fly-det">
                                            <div class="f-item">
                                                <div class="airway-title">
                                                    <img class="airline-logo" src="https://www.turkishairlines.com/theme/img/carrierairlines/carriercode_tk.png" /> <span>Turkish Airlines</span>
                                                </div>
                                                <div class="root-de">
                                                    <div class="times">@item.FlightDuration Hour </div>
                                                    <div class="directs">
                                                        <div class="itin-time">
                                                            <div class="itin-lines"></div>
                                                        </div>

                                                        <div class="hour-sm">
                                                            <div class="hour-time-sm">@item.DepartTime</div>

                                                            <div class="hour-time-sm">@item.ArriveTime</div>
                                                        </div>
                                                    </div>

                                                    <div class="itin-target">
                                                        <div class="tar-label">@Localizer[item.FromAirport]</div>
                                                        <div class="tar-label">@Localizer[item.ToAirport]</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="delay-frame">
                                            <div class="welc row">
                                                <h5 class="col-md-5"> Economy </h5>
                                                <div class="col-md-7">
                                                    <h6> Weight :@item.Weight  kg </h6>
                                                    <h6> Price : @Localizer["$"] @item.Price </h6>
                                                </div>
                                                
                                            </div>
                                        </div>

                                        <div class="f-item">
                                            <div class="airway-title">
                                                <img class="airline-logo" src="https://www.turkishairlines.com/theme/img/carrierairlines/carriercode_tk.png" /> <span>Turkish Airlines</span>
                                            </div>
                                            <div class="root-de">
                                                <div class="times">@item.FlightDuration Hour</div>
                                                <div class="directs">
                                                    <div class="itin-time">
                                                        <div class="itin-lines"></div>
                                                    </div>

                                                    <div class="hour-sm">
                                                        <div class="hour-time-sm">@item.DepartTime</div>

                                                        <div class="hour-time-sm">@item.ArriveTime</div>
                                                    </div>
                                                </div>

                                                <div class="itin-target">
                                                    <div class="tar-label">@item.ToAirport</div>
                                                    <div class="tar-label">@item.FromAirport</div>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="delay-frame">
                                            <div class="welc">
                                                @*<h1 class="text-primary"><span class="text-black-50">TRAVEL</span>ER</h1>*@
                                                <a asp-action="Booking" asp-controller="Home" asp-route-Id="TicketId" class="btn btn-primary col-md-12">Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
                        <symbol id="airplane" viewBox="243.5 245.183 25 21.633">
                            <g>
                                <path d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308
                              c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566
                              c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z
                              " />
                            </g>
                        </symbol>
                    </svg>
                </div>

            }
            
        </div>
        </div>
    </div>





