@model IEnumerable<DemoTraveler.Models.UserPackage>

@{
    ViewData["Title"] = "Ticket";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPackage</title>
</head>
<body>

    <div class="container-fluid py-5" style="min-height:900px" dir="ltr">
        <div class="container pt-5">
            @if (Model.Any())
            {
                <h1>My Package</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ApplicationUser)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BookingPackage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Package)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingPackage.NationalNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Package.BrandName)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.UserPackageId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.UserPackageId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.UserPackageId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p> No Package Available </p>
                <label class="form-group">Click Book Now for Booking Package</label>
                <br />
                <a asp-action="Destination" asp-controller="Home" class="btn btn-primary">Book Now</a>
            }


        </div>
        </div>
</body>
</html>
