@model IEnumerable<DemoTraveler.Models.HomeImage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h1>Home Images</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imagea)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imageb)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModificationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img width="120px" src="..\@Url.Content(item.Imagea)" alt="package-place">
                    </td>
                    <td>
                        <img width="120px" src="..\@Url.Content(item.Imageb)" alt="package-place">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModificationDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ImageId" class="btn btn-warning">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ImageId" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ImageId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div Class="alert alert info">
        <b> No Images Avalible Click To Create New One</b>
    </div>
    <a asp-action="Create" class="btn btn-success">
        Add Images
    </a>
}

