@model ApplicationUserViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<h2>My Profile</h2>
<hr />
<p>First Name : <b> @Model.FirstName</b></p>
<br />
<p>Last Name : <b>@Model.LastName</b></p>
<br />
<p>Country Name : <b>@Model.CountryName</b></p>
<br />
<p>Email :  <b>@Model.Email </b> </p>
<br />
<p>Phone Number : <b>@Model.PhoneNumber</b></p>