@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using System.Globalization

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

@model IEnumerable<AboutUs>


@foreach (var item in Model)
{
    <div class="container-fluid py-5" dir="ltr">
        <div class="container pt-5">
            <div class="row">
                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                {
                    <div class="col-lg-6" style="min-height: 500px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="..\@Url.Content(item.AboutImg1)" style="object-fit: cover;">
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-6" style="min-height: 500px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="..\@Url.Content(item.AboutImg1)" style="object-fit: cover;">
                        </div>
                    </div>
                }

                <div class="col-lg-6 ">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">@localizer["About Us"]</h6>
                        <h1 class="mb-3">@localizer["We Provide Best Tour"]@localizer["Packages In Your Budget"]</h1>
                        <p></p>
                        <div class="row mb-4">
                            <div class="col-6">
                                <img class="img-fluid" src="../@Url.Content(item.AboutImg2)" alt="">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="../@Url.Content(item.AboutImg3)" alt="">
                            </div>
                        </div>
                        <a href="" class="btn btn-primary mt-1">@localizer["Book Now"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<!-- About Start -->
<!-- About End -->
<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">@localizer["Competitive Pricing"]</h5>
                        <p class="m-0">@localizer["Competitive Pricing"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">@localizer["Best Services"]</h5>
                        <p class="m-0">@localizer["Best Services"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-globe text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">@localizer["Worldwide Coverage"]</h5>
                        <p class="m-0">@localizer["Worldwide Coverage"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->