@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using System.Globalization

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

@model IEnumerable<AboutUs>


@foreach (var item in Model)
{

    @if (CultureInfo.CurrentCulture.Name.StartsWith("en"))
    {
        <div class="container-fluid py-5">
            <div class="container pt-5">
                <div class="row">
                    <div class="col-lg-6" style="min-height: 500px;">
                        <div class="position-relative h-100">
                            <img class="position-absolute w-100 h-100" src="..\@Url.Content(item.AboutImg1)" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">@localizer["About Us"]</h6>
                            <h1 class="mb-3">@localizer["We Provide Best Tour"] @localizer["Packages In Your Budget"]</h1>
                            <p></p>
                            <div class="row mb-4">
                                <div class="col-6">
                                    <img class="img-fluid" src="../@Url.Content(item.AboutImg2)" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="../@Url.Content(item.AboutImg3)" alt="">
                                </div>
                            </div>
                            <a href="" class="btn btn-primary mt-1">@localizer["Book Now"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="..\@Url.Content(item.AboutImg1)" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">@localizer["About Us"]</h6>
                    <h1 class="mb-3">@localizer["We Provide Best Tour"] @localizer["Packages In Your Budget"]</h1>
                    <p></p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" src="../@Url.Content(item.AboutImg2)" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="../@Url.Content(item.AboutImg3)" alt="">
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-1">@localizer["Book Now"]</a>
                </div>
            </div>
        </div>
    </div>
</div>

    }

}

